.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151f32;
  max-width: 60px;
  padding: 8px 0;
}

.navigation__image {
  max-width: 24px;
  max-height: 24px;
  height: 100%;
  width: 100%;
  margin-bottom: 8px;
}

.navigation-button-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 28px;
  cursor: pointer;
}

.navigation-button-logo__img {
  width: 40px !important;
  height: 40px !important;
}

.navigation-button-default {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.navigation-button-default__img {
  width: 24px !important;
  height: 24px !important;
}
