.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  height: 64px;
  max-height: 64px;
  border-bottom: 1px solid #D0D2D6; /* TODO: move color to root */
}

.header__user-name {
  text-transform: capitalize;
  font-size: 14px; /* TODO: maybe it's primary */
}