.documents-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.documents-header__view-all {
  font-size: 14px;
  font-weight: 700;
}